*:not(input.field) {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-family: "Hiragino Kaku Gothic Pro","Hiragino Kaku Gothic Pro W3", Meiryo, sans-serif;
}

div {
	font-family: "Hiragino Kaku Gothic Pro","Hiragino Kaku Gothic Pro W3", Meiryo, sans-serif;
	white-space: nowrap;
}

pre {
	font-family: "monospace, serif";
	-webkit-box-sizing: "";
	box-sizing: content-box;
	line-height: 1;
	margin: 0;
}

.leftArea {
	position : absolute;
	height : 800px;
	width : 250px;
	overflow: hidden;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus {
	color: rgba(230, 230, 230, 0.9);
	background-color: rgba(100, 100, 100, 0.5);
}

.content_tab {
	border: solid;
	border-color: rgba(100, 100, 100, 0.5);
	background-color: rgba(230, 230, 230, 0.9);
	display: block;
	height: 100%;
}

.display_tab {
	border: solid;
	border-color: rgba(100, 100, 100, 0.5);
	background-color: rgba(230, 230, 230, 0.9);
	display: none;
	height: 100%;
}

.rightArea {
	border: solid;
	border-color: rgba(100, 100, 100, 0.5);
	background-color: rgba(230, 230, 230, 0.9);
	position : absolute;
	height : 800px;
	width : 250px;
	right : 0px;
	overflow: hidden;
}

.rightTab {
	background-color: rgba(100, 100, 100, 0.5);
	padding: 3px;

	border: solid 1px;
	border-radius:1px;
	
	-moz-transform-origin: 85% 50%;
	-webkit-transform-origin: 85% 50%;
	-o-transform-origin: 85% 50%;
	-ms-transform-origin: 85% 50%;
	transform-origin: 85% 50%;
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.leftTab {
	background-color: rgba(100, 100, 100, 0.5);
	padding: 3px;
	border: solid 1px;
	border-radius:1px;
	
	-moz-transform-origin: 10% 70%;
	-webkit-transform-origin: 10% 70%;
	-o-transform-origin: 10% 70%;
	-ms-transform-origin: 10% 70%;
	transform-origin: 10% 70%;
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.content_id {
	position: relative;
	left: 20px;
}

.input-group {
	width: 200px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.form-control {
	text-align: center;
}

.download_button {
	width:32px;
	height:32px;
	position: absolute;
	left: 5px;
	bottom: 5px;
	background-image:url("../image/download.png");
	background-repeat:no-repeat;
	background-size: contain;
	border: none;
	background-color: transparent;
}

.page {
	min-width : 800px;
}

.top_control {
	width : 800px;
	height : 50px;
}

.top_control_panel {
	text-align:center;
}

.topmenu0 {
	position:absolute;
	left : 10px;
	padding-top : 15px;
}

.topmenu1 {
	position: absolute;
	left : 160px;
}

.topmenu2 {
	position: absolute;
	left : 330px;
}

.topmenu3 {
	position: absolute;
	left : 500px;
}

.topmenu4 {
	position: absolute;
	left : 690px;
	padding-top : 10px;
}